@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "Master.cshtml";
}
<div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Register With Us!</h1>
      <p class="lead">Click below to register with us and receive an Email.</p>
      <hr class="my-4">
       <p class="lead">
        <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
      </p>
    </div>
</div>