@using EmailForm.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}
<div class="container">
    @if (TempData["SendMail"] != null && (bool)TempData["SendMail"])
    {
        <h1 class="display-3">Message sent successfully</h1>
        <a href="/" class="btn btn-primary">Back to Home</a>
    }
    else
    {
        await Html.RenderPartialAsync("~/Views/Partials/RegisterForm/_RegisterForm.cshtml", new RegisterFormModel());
    }
    @if (TempData["FailedStatus"] != null)
    {
        <h1 class="display-5">@TempData["FailedStatus"]</h1>
    } 
</div>